@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
body {
	margin: 10px 0px 0px 0px;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}
::selection {
	color: #fff;
	background-color: #000;
}
header {
	height: 100px;
}
.info {
	position: relative;
	margin: 0px 0px 0px 40px;
	padding: 0;
}
img[src*="Fahm.jpg"] {
	width: 120px;
	height: 130px;
	border-radius: 50%;
	filter: grayscale(80%);
}
a[target="_self"] {
	text-decoration: none;
	color: black;
}
h2 {

}
h2::after {
	content: "";
	position: absolute;
	height: 8px;
	width: 5%;
	border-radius: 4px;
	background-color: blue;
	bottom: -15px;
	left: 0;
}
.navmenu {
	margin: 0;
	/*float: left;*/
}
nav ul li {
	list-style: none;
	float: left;
	margin: 20px 20px 0px 0px;
	position: relative;
}
nav ul li a.active {
	color: blue;
}
nav ul li a {
	text-decoration: none;
	color: #000;
}
nav ul li a::after {
	content: "";
	height: 3px;
	border-radius: 5px;
	width: 0;
	position: absolute;
	bottom: -10px;
	left: 0;
	background-color: #04A66D;
	transition: 0.5s;
}
nav ul li a:hover::after {
	width: 100%;
}
.content {
	margin-left: 40px;
	width: 50%;
}
h1 {
	font-size: 3em;
}
header {
	margin-bottom: 250px;
}